extends layout 

block content
    div.item-container
        h3.item-title #
        div.item-table
            div.item-table-row
                h4.label PORTIONS:
                p.table-content # / #
            div.item-table-row
                h4.label LOCATION:
                p.table-content #
            div.item-table-row
                h4.label MEAL:
                p.table-content #
            div.item-table-row
                h4.label DATE ADDED:
                p.table-content #
            div.item-table-row
                h4.label EAT BY:
                p.table-content #
            div.item-table-row
                h4.label NOTES:
                p.table-content #
        button.but-main
            span.but-shadow
            span.but-edge
            span.but-front
                h3 Create Item