extends layout 

block content
    form(method='POST' action='')
        div.form-container
            h2.form-heading Create New Location
            div.input-title
                input.form-control.form-location(name='locationName' type='text' placeholder='New Location Name' required='true')
                input(name='userId' type='hidden' value=(currentUser ? currentUser.id : demoUser.id))
            button.but-main.but-location-form(type='submit')
                span.but-shadow
                span.but-edge
                span.but-front
                    h3 Create Location