html {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-size: 12px;
  color: #d15959;
}

h2 {
  font-size: 1.8em;
  font-weight: 300;
}

h3 {
  font-size: 1.3em;
  font-weight: 700;
  margin: 0;
}

h4 {
  font-size: 0.8em;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #d15959;
}

ul {
  padding: 0px;
}

li {
  list-style: none;
  margin-bottom: 1em;
  font-weight: 600;
}

textarea {
  resize: vertical;
}

label {
  font-size: 0.8em;
  font-weight: 500;
}

form {
  width: 100%;
}

.input-title {
  margin-bottom: 1em;
}

.form-title {
  font-size: 1.3em;
  font-weight: 700;
  padding: 0.3em 0.3em;
}

.form-control {
  margin: 0;
  margin: 0em 0 0.8em 0;
  color: #d15959;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #d15959;
  margin: 0;
}

.form-control:focus {
  outline: 1px solid #d15959;
}
.form-control::placeholder {
  color: #ecc3c3;
}

.but-main {
  position: relative;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 100%;
}

.but-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: #aaaaaa;
  transform: translate(-2px, 2px);
}

.but-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: #bd3f3f;
}

.but-front {
  display: block;
  position: relative;
  padding: 6px 0px;
  border-radius: 4px;
  background-color: #d15959;
  color: white;
  /* width: 100%; */
  transform: translateY(-4px);
}

.but-main:active .but-shadow {
  transform: translate(-1px, 1px);
}

.but-main:active .but-front {
  transform: translateY(-1px);
}

.list-header {
  border-top: 1px solid #444444;
  width: 80%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5em;
  font-size: 0.8em;
  color: #444444;
  font-weight: 400;
}

.navBar {
  padding-top: 10px;
  width: 100%;
  height: 65px;
  background-color: #d15959;
}

.logo {
  margin-left: 10px;
}

.container {
  margin: 2em;
  /* background-color: cornsilk; */
  display: flex;
  align-items: flex-start;
  /* align-items: stretch; */
}
.sidebar {
  position: sticky;
  top: 2em;
  text-align: center;
  width: 115px;
  border-radius: 3px 3px 57.5px 57.5px;
  border: solid 2px #d15959;
  box-shadow: -2px 2px 2px #00000055;
  padding-bottom: 2em;
  /* flex-grow: 1; */
}
.content {
  margin-left: 2em;
  width: 100%;
  display: flex;
  /* align-content: space-between; */
  align-items: flex-start;
}

.location-container {
  margin-top: 1em;
  margin-left: 2em;
  border: 3px solid #d15959;
  box-shadow: -2px 2px 2px #00000055;
  width: 90%;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.location-title {
  margin: 0;
  background-color: white;
  padding: 0 0.3em;
  height: 1em;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 10px;
}

.item-container {
  box-shadow: -2px 2px 2px #00000055;
  border: 1px solid #d15959;
  background-color: #fff8f8;
  width: 360px;
  /* box-sizing: border-box; */
  border-radius: 3px;
  margin: 0 1em 1em 1em;
  padding: 1em;
}

.item-header {
  display: flex;
  justify-content: space-between;
}

.item-title {
  margin: 0em 0 0.8em 0;
}

.pencil {
  margin-left: auto;
  margin-right: 0;
  height: 20px;
}

.item-table {
  /* Placeholder */
  border: none;
}

.item-table-row {
  margin-bottom: 0.8em;
  display: flex;
}

.label {
  margin: 0.3em 0 0 0;
  /* margin-left: 1em; */
  color: #444444;
  width: 25%;
}

.table-content {
  width: 65%;
  margin: 0 0 0 1em;
}

.title-container {
  height: 1em;
  width: 100%;
  /* background-color: crimson; */
}

.portion-circle-full {
  display: inline-block;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #d15959;
}

.portion-circle-empty {
  display: inline-block;
  margin-right: 5px;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  border: 1px solid #d15959;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* align-items: flex-end; */
  /* align-content: flex-end; */
}
.form-heading {
  margin-top: 0;
}

.form-location {
  font-size: 1.5em;
  font-weight: 500;
  padding: 0.6em 0.3em;
  width: 100%;
}

.but-location-form {
  width: 200px;
  margin-left: auto;
  /* margin-right: 0px; */
}

.plain-but {
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  /* font-size: 12px; */
  color: #d15959;
  margin-bottom: 1em;
}
